@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--backgroundColor);
  overflow-x: hidden;
  color: var(--fontPrimaryColor);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.link-styles {
  text-decoration: none;
  color: var(--fontPrimaryColor);
}

:root {
  --primaryColor: #4fc0d6;
  --primaryColorDark: #2ca0b8;
  --primaryColorLight: #73bbc9b6;
  --secondaryColor: #f1d4e5;
  --primaryBackgroundColor: #ffffff;
  --secondaryBackgroundColor: #dadada;
  --trBackgroundColor: #ffffffb2;
  --fontPrimaryColor: #383838;
  --fontPrimaryColorOpp: #e7e7e7;
  --fontSecondaryColor: #7a7a7a;
  --scrollbarColor: #cacaca;
  --bgColor2: #d6d5d5;
  --shadowColor: #979797;
  --shadowColor1: #d8d8d8;
  --shadowColor2: #ececec;

  --backgroundGradient: radial-gradient(
    circle at 10% 45%,
    #88bbf1 2%,
    #ffffff 25%
  );
  --backgroundGradient2: radial-gradient(
    circle at 90% 45%,
    #97c6f8 2%,
    #ffffff 25%
  );
  --backgroundGradient3: radial-gradient(
    circle at 12% 60%,
    #a1c7f0 2%,
    #ffffff 13%
  );
  --backgroundGradient4: radial-gradient(
    circle at 90% 58%,
    #a4caf0 2%,
    #ffffff 13%
  );

  background: radial-gradient(circle at 3% 25%, #002853 0%, #040c18 25%);
  --gradientBackground: -webkit-linear-gradient(
    109.6deg,
    rgba(150, 50, 189, 0.753) 11.2%,
    rgb(233, 135, 122) 100.2%
  );
  --gradientBackground2: -webkit-linear-gradient(
    109.6deg,
    rgba(150, 50, 189, 0.753) 31.2%,
    rgb(57, 135, 236) 100.2%
  );
  --gradientBackgroundDarker: -webkit-linear-gradient(
    109.6deg,
    rgba(106, 17, 141, 0.753) 11.2%,
    rgb(189, 77, 63) 100.2%
  );
}
[data-theme="dark"] {
  --primaryColor: #73bbc9;
  --primaryColorLight: #73bbc9b6;
  --secondaryColor: #f1d4e5;
  --primaryBackgroundColor: #01060f;
  --secondaryBackgroundColor: #030811;
  --trBackgroundColor: #020811bd;
  --fontPrimaryColor: rgb(243, 243, 243);
  --fontPrimaryColorOpp: #070707;
  --fontSecondaryColor: rgb(190, 190, 190);
  --scrollbarColor: #040c18;
  --bgColor2: #142b4b;
  --shadowColor: #2163aaf3;
  --shadowColor1: #0c243f52;
  --shadowColor2: #040b16;

  --backgroundGradient: radial-gradient(
    circle at 10% 45%,
    #002853 0%,
    #01060f 25%
  );
  --backgroundGradient2: radial-gradient(
    circle at 90% 45%,
    #002853 0%,
    #01060f 25%
  );
  --backgroundGradient3: radial-gradient(
    circle at 10% 60%,
    #002853 0%,
    #01060f 13%
  );
  --backgroundGradient4: radial-gradient(
    circle at 90% 58%,
    #002853 0%,
    #01060f 13%
  );
}

::-webkit-scrollbar {
  width: 0.7em;
}
body::-webkit-scrollbar-track {
  background: #040c18;
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: white;
}
body::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 182, 182);
}
